:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em hwb(237 13% 7% / 0.975));
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em hsl(211, 87%, 41%));
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .slogon {
    margin-top: 2rem;
    margin-left: 2rem !important;
  }
  #utmost-iframe {
    height: 700px;
    width: calc(100% - 40px) !important;
    margin-top: 6rem !important;
  }
}

#utmost-iframe {
  height: 700px;
  width: 400px;
  margin: 1rem;
  border-radius: 20px;
  border: 2px solid #ebebeb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.slogon {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
}
